<div class="container">
  <div class="row" style="margin-top: 10%;">
    <div class="col-6 mx-auto">
      <div class="card p-4">
        <form action="/" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">User's Email: </label>
            <input type="text" class="form-control" name="email" id="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {{#if logError}}
        <p class="alert alert-danger mt-3" role="alert">
          Wrong email or password, please try again.
        </p>
        {{/if}}
      </div>
    </div>
  </div>
</div>