<form action="/" method="post">
  <div>
    <label for="email">User's Email: </label>
    <input type="text" name="email" id="email">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
  </div>
  <button type="submit">Login</button>
</form>